body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.carousel-inner .img {
    width: 100%;
    height:800px;
}

.about{
    height:500px;
    width:100%;
    text-align: center;
}


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .project1{
        left:10px !important;
    }
    .project4{
        width:100% !important;
        height:200px !important;
    }
    .project2{
        left:10px !important;
        top:620px !important;
    }
    
    
  }
  
  .textWithBlurredBg{
      width:300px;
      height:200px;
      position: relative;
      overflow: hidden;
  }
  .textWithBlurredBg img{
      width:100%;
      height:100%;
      border-radius:4px;
      transition: 0.5s all ease-in-out; 
     
  }
  .textWithBlurredBg:hover img{
      filter:blur(2px) brightness(60%);
      box-shadow: 0 0 16px cyan;
      transform: scale(1.5);
  }
  .textWithBlurredBg :not(img){
      position: absolute;
      top:30%;
      z-index:1;
      color:#fff;
      text-align: center;
      width:100%;
      opacity:0;
      transition: .2s;
  }
  .textWithBlurredBg {
      top:50%;
     
  }
  .textWithBlurredBg:hover :not(img){
      opacity:1;
  }
  .btn .btn1{
      top:500px;
  }
  .projects .btn2{
    height: 58px;
    position: absolute;
    top: 700px;
    left: 358px;
    width: 148px;
    border-radius: 284px;
    text-align: center;
    padding-top: 13px;
    background-color: coral;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
  }
  .btn2:hover span{
      margin-right:8px;
      display:inline-block;
      transform:rotate(-45deg);
      position: relative;
      transition: .5s;
      

  }
  .stretched-link .arrow:hover{
    margin-right:8px;
    display:inline-block;
    transform:rotate(-45deg);
    position: relative;
    transition: .5s;
    
  }
  .service .service1 btn{

  }
  .service .common img{
      width:254px;
      height: 224px;
      float:right;
  }
  .services{
    width:100%;
    height:100%;
    background-color: white;
   
}
.service{
    display:flex;
}
.service > div{
    padding:20px;
}
.service{
    
    width:100%;
    height:500px;
    
}
.service1{
    left:230px;
}
.card{
    background-color: #002e5b;;
    color:white;
    width:293px;
}
.service a{
    background-color: transparent;
    color:whitesmoke;
    font-weight: 900;
    
}
.stretched-link:hover{
    color:tomato;
    text-decoration: none;
    border-color: white;
}
.card-title{
    font-weight: 900;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 12px;
}
.about{
    margin-top: 116px;
    height:340px;
    animation-duration: 1500ms;
}
.about-title{
    position: relative;
    font-size: 45px;
    font-weight: 700;
}
.about-para{
    text-align: center;
    padding: 30px 200px;
}
.btn1{
    color:#2a2a2a;
    font-weight:800;
    font-size:17px;
    transition: .3s;
    


}
.nav3{
    background-color: #002e5b;;
    
    
    z-index:2;
    width:100%;
    top:0;
    
    
    

}
.nav1{
    z-index: 2;
    
    background-color: #000;
    width:100%;
}
.nav-color{
    color:#fff;
}
.nav-item2{
    margin-top: 55px;
}
.carousel .carousel-inner h4{
    position:relative;
    display:block;
    font-size: 42px;
    text-transform: uppercase;
    bottom: 450px;
    font-weight: 900;
    
}
.carousel .carousel-inner h1{
    position:relative;
    display:block;
    font-size: 21px;
    text-transform: uppercase;
    bottom:400px;
    font-weight: 500;
}

.common-btn{
    padding:15px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
   
   
}
.carousel-btn{
    
  
    
    
}
.carousel-btn1{
    color:white;
    background-color:#002e5b;
    font-weight:500;
    font-size:14px;
}
.carousel-btn1:hover{
    background-color: orangered;
    text-decoration: none;
}
.carousel-btn2:hover{
    background-color: #002e5b;
    text-decoration: none;
    color:white
}
.carousel-btn2{
    background-color:orangered;
    color:#002e5b;
    font-weight:500;
    font-size:14px;
}
    
  
.carousel-caption-btn{
    
    left:270px;
   
    
   
   
    
   
}
.carousel-btn{
  
   width:100%;
   height:10px;
  
   
}
.carousel-client .carousel-client-row{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.controls-top {
    text-align: center;
    margin-bottom: 1.88rem;
}
.btn-floating{
    
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    border-radius: 50%;
    padding: 0;
    background: #4285f4;
    color:white;

}
.btn-floating i {
    font-size: 1.25rem;
    
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}
.prev{
    padding-top:15px;
}
.next{
     padding-left:2px;
     text-align: center;
}
.btn-floating:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: orangered;
   
    -webkit-border-radius: 50%;
    
}

footer{
   
    width:100%;
    height:600px;
    background:#002e5b ;
    color:white;
    left:0;
    right:0;
    position: absolute;
    padding-top:100px;
   
}

footer .footer-common{
    text-align: left;
    padding:10px;
}
footer row{

}
.footer-links{
    color:white;
    
}
.link-common{
    padding:10px;
   
}
.footer-icon{
    padding-right:10px;
   
    
}
.footer-icon-common{
   
}
.list-unstyled{
    text-align: left;
    margin-left: 10px;
}
.list-unstyled span{
   
}
footer a:hover{
    background-color: #002e5b;
    text-decoration: none;
    color:orangered
}