body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.collapse ul li a:hover {
    background-color:orangered ;
  }
  .line{
    height:15px;
    width:15px;
}
.first-nav{
    background-color:black;
    padding:30px;
    padding-left:100px;
}




.first-div img{
   
   height:500px;
   position:relative;
}
.caption{
    position:absolute;
    
  
font-size: 40px;
line-height: 65px;
color: #fff;

text-align: center;
left:500px;
    top:0;
    margin-top:350px;
    margin-left:-29px;
}
.caption h1{
    font-weight: 1000;
}
.div-2{
    margin-top:100px;
    background-color:#002e5b; ;
}
.div-2 img{
    width:50%;
    height:100%;
}
.image1{
    margin-top:30px;
    margin-left:100px;
}
.div-2 h2{
    color:white;
    margin-top:65px;
    text-align: center;
    font-weight:800;
}
.image2{
    margin-top:50px;
    margin-left:200px;
    transform: rotate(45deg);
}
.div-3{
    margin-top:100px;
   
}
.div-3 h4{
    font-weight:700;
}
.civil-img img{
   
    width:25%;
    margin-left:200px;
    padding-bottom:10px;
    transform:rotate(30deg);
    box-shadow: 5px 10px #888888;
    
}
.civil ul li{
    padding-bottom:8px;
}

footer{
   
    width:100%;
    height:800px;
    background:#002e5b ;
    color:white;
    left:0;
    right:0;
    position: absolute;
    margin-top:100px;
   
}

footer .footer-common{
    text-align: left;
    padding:10px;
}
footer row{

}
.footer-links{
    color:white;
    
}
.link-common{
    padding:10px;
   
}
.footer-icon{
    padding-right:10px;
   
    
}
.footer-icon-common{
   
}
.list-unstyled{
    text-align: left;
    margin-left: 10px;
}
.list-unstyled span{
   
}
footer a:hover{
    background-color: #002e5b;
    text-decoration: none;
    color:orangered
}
.icon-service{
    color: #fe5a0e;
position: absolute;
width: 100%;
height: 100%;

left: 0;
margin-left:20px;
}


@media only screen and (max-width: 600px) {
    .first-nav{
        padding:10px;
        display: block;
        left:0;
        padding-left:100px;
    }

.first-div img{
   
   height:300px;
   
}
.caption{
    left:0px;
    margin-left:120px;
    
    
   
    
    

}
.caption h1{
    font-size: 30px !important;
    
    
    margin-left: -45px !important;
    margin-top: 10px;
    
}
.div-2-para p{
    font-size: 15px;
    padding:0px 50px 0px 50px;
    display:block;

    
}
.div-2-about img{

   margin-left:58px !important;
}
.exp{
    margin-right:100px;
    margin-left:50px;

}
.div-2-para-exp{
    font-size: 15px;
    padding:0px 55px 0px 55px;
    
}
.div-3-mission p{
    padding-right:150px;
}
.div-3-mission h1{
    margin-left:70px;
}
.management{
  
}
.div-3-mission:hover .div-3-img{
    width:57%;
    transition: 0.5s;
}
.footer-div1{
    display: none !important;

}
.footer-hr{
    margin-left:10px !important;
}
.footer{
    margin-top:200px !important;
    height:1000px !important;
    width:514px !important;
    position: relative;
    
}
footer{
    padding-top:-200px;
}
.manage{
    display:none;
}
.image{
    
    display: none;
    
}
.civil-img{
    display:none;
}
.div-2 img{
    display: none;

}
.div-2{
    height:200px;
}
}

